body {
	background: black;
	color: white;
	text-align: center;
	margin: 0px;
}

img {
	box-shadow:0 0 5px green,0 0 8px #fff,0 0 12px #fff,0 0 30px blue,0 0 40px white;
	border-radius: 100%;
	margin-top: 8%;
	position: relative;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

#first:hover {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 1s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}

/* FLEXBOX WILL ADJUST THE AREA OF THE BOX DEPENDING ON SCREEN SIZE */
#answer {
	width: 80px;
	/* ALIGNS TEXT IN THE CENTER OF THE FLEXBOX */
	-webkit-justify-content: center;
	margin-top: -180px;
	margin-left: 40%;
	position: relative;
	text-align: center;
}

@media screen and (min-width: 768px){
	#answer {
		margin-left: 45%;
	}
}

@media screen and (min-width: 1025px){
	#answer {
		margin-left: 46%;
	}
}

@media screen and (min-width: 1440px){
	#answer {
		margin-left: 46.5%;
	}
}

@media screen and (max-width: 320px){
	#answer {
		margin-left: 43%;
	}
}

@media screen and (min-width: 760px){
	#answer {
		margin-left: 45%;
	}
}

